{% extends "data_viewer_app/index.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h2>Results</h2>

        {% if results %}
          <table class="table table-striped">
            <thead>
              <th class="col-md-3">Chrom</th>
              <th class="col-md-3">Name</th>
              <th class="col-md-3">txStart</th>
              <th class="col-md-3">txEnd</th>
            </thead>

            <tbody>
              {% for item in results %}
                <tr>
                  <td>{{item.chrom}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.txStart}}</td>
                  <td>{{item.txEnd}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>No data.</p>
        {% endif %}
      </div>

      <div class="col-md-4">
        <!-- i dont know, help text? -->
      </div>
    </div>
  </div>
{% endblock %}

{% block pagination %}
  {% if results %}
    <nav>
      <ul class="pagination" data-length="{{ count }}">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&lt;&lt;</span>
          </a>
        </li>
        <li><a href="#">&lt;</a></li>

        <li><a href="#">Current page is ...</a></li>

        <li><a href="#">&gt;</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&gt;&gt;</span>
          </a>
        </li>
      </ul>
    </nav>
  {% endif %}
{% endblock %}
