<!DOCTYPE html>
<html lang="en">
<head>
  <title>refGene</title>

  <link rel="stylesheet" href="/static/bootstrap-3.2.2.min.css">
  <link rel="stylesheet" href="/static/application.css">
  <script src="/static/jquery-2.1.3.min.js"></script>
  <script src="/static/loader.js"></script>
  <script src="/static/pagination.js"></script>
  <script src="/static/application.js"></script>
</head>

<body>
  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <div id="pagination">
    {% block pagination %}{% endblock %}
  </div>
</body>
</html>
